@import 'tailwindcss';
@plugin "daisyui";

:root {
  --font-family: 'inter', sans-serif;

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.8rem;

  --primary-color: #191919;
  --secondary-color: #e52529;
  --tertiary-color: #f5f5f5;

  --text-color-white: #ffffff;
  --text-color-grey: #7a7a7a;
  --text-color-black: #000000;
}
